* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS of Nav Bar */
.sticky {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 55px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-weight: 500;
  color: #241c15;
  background-color: white;
  /* border: 1px solid; */
}
#list {
  width: 450px;
  font-weight: 550;
}
#list > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#list ul a {
  color: #241c15;
  text-decoration: none;
}
#logo {
  display: flex;
}
#logo > div:nth-child(1) {
  width: 40px;
}
#logo > div:nth-child(2) h3 {
  width: 40px;
  font-size: 16px;
  font-weight: 900;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}
#logo img {
  width: 100%;
}
#navbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbtn button {
  font-weight: 500;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  box-sizing: border-box;
  padding: 15px 25px;
  border-radius: 500px;
}

#navbtn button:nth-child(2) {
  background-color: #ffe01b;
  margin-left: 35px;
}

/* Revenue Section starts */

#revenue div {
  /* border: 1px solid; */
  padding: 0px 5vh;
  box-sizing: border-box;
  padding: 70px 200px;
}
#revenue h1 {
  text-align: center;
  font-size: 65px;
  font-weight: 300;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  letter-spacing: -0.0625rem;
  padding-top: 70px;
}
#revenue p {
  text-align: center;
  font-size: 1.5rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1.5em;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-weight: 400px;
  font-size: 1.5rem;
  color: #241c15;
}
#revenue button {
  display: block;
  margin: auto;
  font-weight: 500;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  box-sizing: border-box;
  padding: 15px 25px;
  border-radius: 600px;
  background-color: #ffe01b;
}
#revenue a {
  text-decoration: none;
}
/* Initial Cards Of image */

#imgCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#imgCards img {
  width: 100%;
  box-sizing: border-box;
}
.cardBottom {
  /* border: 1px solid; */
  box-sizing: border-box;
  padding: 35px 45px;
  /* background-color: aquamarine; */
  line-height: 25px;
  margin-top: -4px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}

.cardBottom button {
  margin-top: 25px;
  box-sizing: border-box;
  padding: 13px 25px;
  border-radius: 500px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}
.color1 {
  background-color: #de9b21;
}

.color2 {
  background-color: #e7b75f;
}
.color3 {
  background-color: #fffaed;
}
.color4 {
  background-color: whitesmoke;
}

.text {
  position: relative;
  top: 50px;
  text-align: center;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  font-weight: 200;
}

/* Video Section CSS */
#videoContainer {
  padding: 55px 230px;
  padding-bottom: 30px;
  background-color: #241c15;
}
#video {
  display: flex;
  justify-content: center;
}
#video video {
  width: 100%;
  height: 100%;
}
#videoHeading p {
  color: white;
  font-weight: 400;
  font-size: 25px;
  padding: 50px 80px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  margin-top: 25px;
  line-height: 30px;
}
/* Plans Css */

#planbox > h2 {
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  font-weight: 300;
  font-size: 2.5rem;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
}
#planbox h3 {
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
}
#planbox {
  padding: 0px 180px;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  background-color: #f6f6f4;
  padding-bottom: 5rem;
}
#plancards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin-bottom: 500px; */
  background-color: white;
}

.card {
  padding: 15px 18px 15px 18px;
  font-size: 1em;
  color: rgba(36, 28, 21, 0.65);
  color: #403b3b;
  border: 1px #cfd8dc solid;
}
.typeOfMemberShip {
  padding: 10px 0px;
}
.membershipPara {
  font-size: 13px;
  margin-bottom: 10px;
  color: rgba(36, 28, 21, 0.65);
}
.membershipPara ~ p {
  color: rgba(36, 28, 21, 0.65);
  font-size: 13px;
}

.price {
  font-size: 30px;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  font-weight: 400;
}
ul {
  list-style: none;
  margin: 15px;
}
ul > li span {
  border-bottom: 1px #403b3b dotted;
  text-align: justify;
  font-size: 13px;
}
.card ul > li {
  border-bottom: 1px #cfd8dc solid;
  margin-bottom: 20px;
  padding-bottom: 25px;
  /* border: 1px solid;   */
}
i {
  margin-right: 25px;
  font-size: 23px;
}
.card sup {
  font-size: 10px;
}
.na {
  color: rgba(36, 28, 21, 0.3);
}
#noborder {
  border-bottom: 0px;
}
#noborder1 {
  border-bottom: 0px;
}
#noborder3 {
  border-bottom: 0px;
}
#noborder4 {
  border-bottom: 0px;
}
#bottompara {
  /* border: 1px solid; */
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: #94a0a5;
}
#bottompara span {
  color: #565c5f;
}
#btmbtn {
  display: block;
  margin: auto;
  margin-top: 25px;
  padding: 15px 20px;
  border-radius: 500px;
  background-color: #ffe01b;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}
#learnmore {
  border-bottom: 1px dotted;
  color: #94a0a5;
}
#navbtn a {
  text-decoration: none;
  color: #403b3b;
}
#plansBottomHeader {
  font-size: 30px;
  line-height: 40px;
  font-weight: 3 00;
  padding: 0px 500px;
}
#plansBottomHeader > h3 {
  text-align: center;
  font-weight: 500;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  word-spacing: 0.1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Aside Bar CSS */
#stickyContainer {
  display: flex;
  justify-content: space-between;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}

#sidebar {
  /* background-color: #0397d6; */
  height: 100vh;
  width: 50%;
  background-color: #ffe01b;
  /* overflow: hidden; */
  position: sticky;
  top: 0;
  box-sizing: border-box;
  padding: 200px;
}
#sidebarbox {
  width: 50%;
}

#sidebar h1 {
  text-align: center;
  margin-top: 25px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-weight: 500;
}
#sidebar h2 {
  text-align: center;
  margin-top: 5px;
  margin-left: 100px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-weight: 300;
}
#contentHeading {
  text-align: center;
  margin-bottom: 13px;
  padding-top: 15rem;
  font-size: 39px;
  font-weight: 500;
}
#contentPara {
  text-align: center;
  padding: 0px 100px;
  font-size: 20px;
  text-align: left;
  word-spacing: 0.1em;
  line-height: 25px;
  font-weight: 400;
}

#stickyContainer button {
  margin: 0px 90px;
  margin-top: 25px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 18px;
  border: 0;
  padding: 4px 0px 4px 10px;
  background-color: white;
  border-radius: 300px;
  display: flex;
  align-items: center;
}
#stickyContainer i {
  /* border: 1px solid;  */
  background-color: #ffe01b;
  padding: 4px 6px;
  margin-left: 10px;
  border-radius: 100px;
}
#sideContent1 {
  margin-top: 50vh;
}
#sideContent2 {
  margin-top: 70vh;
}
#contentHeading1 {
  text-align: center;
  text-align: left;
  margin-left: 18px;
  padding: 5rem 5rem 1rem 5rem;
  padding-top: 15rem;
  font-size: 39px;
  font-weight: 500;
}
#contentHeading2 {
  text-align: center;
  text-align: left;
  margin-left: 16px;
  padding: 5rem 5rem 1rem 5rem;
  padding-top: 15rem;
  font-size: 39px;
  font-weight: 500;
}
#sideContent2 {
  margin-bottom: 80vh;
}
#contentPara1 {
  text-align: center;
  padding: 0px 100px;
  font-size: 20px;
  text-align: left;
  word-spacing: 0.1em;
  line-height: 25px;
  font-weight: 400;
}

/* Bottom ImageCard */
#BottomImageCard {
  display: flex;
  height: 100vh;
}

#leftdiv {
  /* background-color: #e7b75f; */
  width: 50%;
  padding: 120px;
}
#imageDiv {
  width: 50%;
  /* background-color: hotpink; */
}
#leftdiv > h2 {
  font-weight: 300;
  font-size: 35px;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  word-spacing: 3px;
  line-height: 45px;
  font-style: oblique;
}
#leftdiv p {
  margin-top: 50px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-weight: 400;
}
#cardpara {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  word-spacing: 3px;
}
#btn3 {
  margin-top: 35px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 15px;
  border: 0;
  background-color: white;
  border-radius: 300px;
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}
#btn3 i {
  border: 0px solid;
  background-color: #ffe01b;
  padding: 4px 6px;
  margin-left: 10px;
  border-radius: 100px;
}
#btnparent {
  padding-bottom: 25px;
  border-bottom: 1px solid #6e7375;
}

#plansBottomHeader1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 3 00;
  padding: 0px 470px;
}
#plansBottomHeader1 > h3 {
  text-align: center;
  font-weight: 500;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  word-spacing: 0.1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#imageDiv img {
  width: 100%;
  height: 100%;
}

/* Bottom Asidebar */
#sidebar1 {
  /* background-color: #0397d6; */
  height: 100vh;
  width: 50%;
  overflow: hidden;
  position: sticky;
  top: 0;
  box-sizing: border-box;
}
#sidebar1 img {
  height: 100%;
  width: 90%;
}
/* Iconic Section CSS */

#iconHeader {
  /* border: 1px solid; */
  padding: 0px 25px;
  width: 600px;
  margin-left: 90px;
}
#iconHeader h2 {
  font-weight: 500;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  margin-bottom: 3rem;
  margin-top: 5rem;
  font-size: 35px;
}
#iconContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 35px;
  width: 85%;
  margin: auto;
}
#iconContainer div {
  margin: auto;
}

.iconHeading {
  font-weight: 600;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
  margin-left: 8px;
}
.icondiv p {
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin-left: 5px;
  color: #888c8f;
}
.icondiv img {
  width: 80%;
  height: 80%;
}
.icondiv {
  display: flex;
  padding: 25px;
}
#diff {
  height: 90px;
  width: 100px;
}
#diff2 {
  height: 90px;
  width: 100px;
}
#diff3 {
  height: 90px;
  width: 113px;
}
.icondiv:hover {
  background-color: rgb(239, 237, 237);
  height: 100%;
  width: 100%;
}
#diffp {
  margin-left: 10px;
}
#diffp1 {
  margin-left: 10px;
}
#diffp2 {
  margin-left: 10px;
}
#btmparaCotainer {
  display: flex;
  align-items: center;
  margin-left: 130px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
#btmparaCotainer p {
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}
#btmparaCotainer i {
  margin-left: 10px;

  border-radius: 200px;
  padding: 5px;
  background-color: #ffe01b;
}
/* Disclaimer  css */
#disclaimer {
  /* border: 1px solid; */
  height: 21vh;
  box-sizing: border-box;
  padding: 40px 100px;
  background-color: #f6f6f4;
}
#dis {
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 10px;
  font-weight: 600;
}
#disclaimer li {
  font-weight: 300;
  line-height: 15px;
  font-weight: 400;
  font-size: 12px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}
#btmpara {
  font-weight: 300;
  line-height: 15px;
  font-weight: 400;
  font-size: 12px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}
/* Footer CSS */
#footer {
  background-color: #e7b75f;
}
#footerflex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(121, 119, 116, 0.65);
}
#footerflex1 div {
  margin: 10px 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#footerflex1 div:nth-child(1) {
  font-size: 17px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}
#footerflex1 a {
  font-size: 13px;
  font-weight: 100;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  color: rgb(57, 54, 54);
}
#bottomfooter {
  display: flex;
  justify-content: center;
  padding: 50px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(121, 119, 116, 0.65);
}
#bottomfooter h3 {
  margin-left: 35px;
  margin-bottom: 30px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-weight: 300;
  font-size: 15px;
}
#bottomfooter li {
  margin: 18px 35px;
  list-style: none;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  color: rgb(57, 54, 54);
  font-size: 13px;
}
#bottomfooter a {
  color: rgb(57, 54, 54);
}
#footerimg {
  width: 50%;
  margin-left: 25px;
}
#footerimg2 {
  width: 60%;
}

.footerbtn button {
  /* margin: 0px 90px; */
  margin-top: 25px;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 13px;
  border: 0px;
  /* padding: 2px 0px 2px 6px; */
  border-radius: 300px;
  background-color: #e7b75f;
  display: flex;
  align-items: center;
}
.footerbtn i {
  /* border: 1px solid;  */
  background-color: #ffe01b;
  padding: 4px 6px;
  margin-left: 10px;
  border-radius: 100px;
}
#finalmargin {
  margin-bottom: 100px;
}
